<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 2</title>
    <link rel="stylesheet" href="/static/css/estilosejercicio2.css">
</head>
<body>
    <div class="app-container">
        <h1></h1>
        <form method="POST">
            <label for="nombre1">Nombre 1:</label>
            <input type="text" id="nombre1" name="nombre1" ><br><br>
            <label for="nombre2">Nombre 2:</label>
            <input type="text" id="nombre2" name="nombre2" ><br><br>
            <label for="nombre3">Nombre 3:</label>
            <input type="text" id="nombre3" name="nombre3" ><br><br>
            <button type="submit">Enviar</button>
        </form>
        {% if nombre_largo and caracteres %}
        <div >
            <p>El nombre con mayor cantidad de caracteres es : {{ nombre_largo }}</p>
            <p>El nombre tiene : {{ caracteres }} caracteres</p>
        </div>
        {% endif %}
        <div style="margin-top: 20px;">
            <a href="/">
                <button type="button">Volver al Inicio</button>
            </a>
        </div>
    </div>
</body>
</html>
